.chat-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: stretch;

  .chat-body {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
