<h2 mat-dialog-title>{{ hasId() ? 'Editar Grupo' : 'Crear Grupo' }}</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="flex flex-column">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
      @if (form.get('name')?.getError('required')) {
        <mat-error>Campo Requerido</mat-error>
      }
    </mat-form-field>
    <mat-label>Usuarios</mat-label>
    <mat-selection-list formControlName="users">
      @for (user of userRx.value(); track user._id; let i = $index) {
        <mat-list-option [value]="user._id" [disabled]="user._id === userId()">{{ user.name }}</mat-list-option>
      }
    </mat-selection-list>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button mat-dialog-close cdkFocusInitial
          [disabled]="form.invalid" (click)="save()">
    {{ hasId() ? 'Editar' : 'Crear' }}
  </button>
</mat-dialog-actions>
