<mat-card>
  <mat-card-content>
    <form [formGroup]="form" class="flex flex-column">
      <mat-form-field>
        <mat-label>
          Nombre
        </mat-label>
        <input formControlName="name" matInput>
        @if (form.get('name')?.getError('required')) {
          <mat-error>Campo Requerido</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>
          Correo
        </mat-label>
        <input formControlName="email" matInput>
        @if (form.get('email')?.getError('required')) {
          <mat-error>Campo Requerido</mat-error>
        } @else if (form.get('email')?.getError('email')) {
          <mat-error>Correo Incorrecto</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>
          Contraseña
        </mat-label>
        <input [type]="hide() ? 'password' : 'text'" formControlName="password" matInput>
        <button (click)="changeState($event)" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide()" mat-icon-button
                matSuffix
        >
          <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if (form.get('password')?.getError('required')) {
          <mat-error>Campo Requerido</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>
          Confirmar Contraseña
        </mat-label>
        <input [type]="hide() ? 'password' : 'text'" formControlName="confirmPassword" matInput>
        <button (click)="changeState($event)" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide()" mat-icon-button
                matSuffix
        >
          <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if (form.get('password')?.getError('required')) {
          <mat-error>Campo Requerido</mat-error>
        }
      </mat-form-field>
      @if (form.getError('mistmach')) {
        <mat-error>Las contraseñas no coinciden</mat-error>
      }
    </form>
  </mat-card-content>
  <mat-card-actions class="flex-column align-items-stretch align-self-center">
    <button (click)="register()" [disabled]="form.invalid" class="w-15rem" color="primary"
            mat-raised-button type="submit">
      Crear Cuenta
    </button>

    <mat-divider class="my-3 mx-5"/>

    <button class="w-15rem" color="primary" mat-raised-button routerLink="/auth">
      Entrar
    </button>
  </mat-card-actions>
</mat-card>


